<body>
    <nav class="menu">
        <a routerLink="employees">
            <img src="assets/img/logo.png" alt="" class="logo1">
            <img src="assets/img/logo2.png" alt="" class="logo1-1">
            </a>
        
      
      </nav>  
</body>

<!--<div class="container" data-aos="zoom-in" >
    <div class="row">
        <h3 class="text-center"> Atualizar Dados </h3>
        <hr />
        <div class="formcadast">
            <form>

                <div class="form-group">
                    <label> Nome</label>
                    <input type="text" class="form-control" id="Nome" [(ngModel)]="aluno.nome"
                        name="nome">
                </div>

                <div class="form-group">
                    <label> Cpf</label>
                    <input type="number" class="form-control" id="cpf" [(ngModel)]="aluno.cpf"
                        name="cpf">
                </div>

              

                
                <br />
                <button class="btn btn-success bg-primary" type="submit"> Atualizar </button>

            </form>
            </div>-->