<nav class="menu">
    <a routerLink="alunos">
        <img src="assets/img/logo.png" alt="" class="logo1">
        <img src="assets/img/logo2.png" alt="" class="logo1-1">
        </a>
    
    <ul>
        
        <li><a routerLink="/lista">Alunos</a></li>
       
        
        <li><a routerLink="/cadastro" routerLinkActive="active">Cadastrar</a></li>
        
  
    </ul>
  </nav> 
  <body >
    <div data-aos="zoom-in">
      <div class="conatiner">
   <div class = "row titulo">
       <h2> Lista de Alunos</h2>
   </div>
   
   <table class = "table table-striped table-dark ">
       <thead style="width: 100%;">
           <th></th>
           <th>
               <form class="d-flex busca">
                   <input class="form-control me-2" type="text" placeholder="buscar nome" id="nome" name="nome" [(ngModel)]="nome">
                   <button class="btn bg-primary " style="color: white;" type="submit" (click)="buscarporNome()">Buscar</button>
                   <button  class="btn bg-primary" style="color: white;" type="submit" (click)=" voltarLista()" >voltar</button>
   
               </form>
           </th>
       </thead>
       <thead>
           <tr>
               <th> Nome</th>
              <!--<th> Idade </th>
               <th> Sexo Id</th>
               <th> Tefone </th>
               <th> Email</th>--> 
               <th> Actions </th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor = "let aluno of alunos | paginate:{ itemsPerPage: 5, currentPage:pagina, totalItems:total}">
               <td> {{ aluno.nome }} </td>
               <!--<td> {{ aluno.idade }} </td>
               <td> {{ aluno.sexo }} </td>
               <td> {{ aluno.telefone }} </td>
               <td> {{ aluno.email }} </td>-->
               <td>
                   <button (click) = "atualizarAluno(aluno.id)" class = "btn btn-primary"> Editar</button>
                  <button (click) = "deletealuno(aluno.id)" class = "btn btn-danger" style="margin-left: 10px"> Excluir</button>
                   <button (click) = "alunoDetalhes(aluno.id)" class = "btn btn-primary" style="margin-left: 10px"> Visualizar</button>
               </td>
           </tr>
           
       </tbody>
      <pagination-controls (pageChange)="pagina = $event" class="pag"></pagination-controls> 
   </table>
   
   </div>
   
   </div>
   
   </body>
   