
*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.titulo{
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    text-shadow: 2px 2px black;
}

.table{
    color: white;
    width: 80%!important;
    text-align: center;
    margin-left: 10%;
}

.busca button{
    width: 10%;
    margin-right: 2%;
}

body{
    background-image:url("../../assets/img/fundocriar.jpg");
    width: 100%;
    height: 86.2vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}