  <body>
    
    <div class="container" data-aos="zoom-in" >
        <div class="row">
            <h3 class="text-center"> Atualizar Dados </h3>
            <hr />
            <div class="formcadast">
                <form #f="ngForm">

                    <div class="form-group">
                        <label> Nome</label>
                        <input type="text" class="form-control" id="Nome" [(ngModel)]="aluno.nome"
                            name="nome">
                    </div>

                    <div class="form-group">
                        <label> Cpf</label>
                        <input type="number" class="form-control" id="cpf" [(ngModel)]="cpft"
                            name="cpf">
                    </div>

                   <div class="form-group">
                        <label> Idade</label>
                        <input type="text" class="form-control" id="idade" [(ngModel)]="aluno.idade"
                            name="idade">
                    </div>

                    <div class="form-group">
                        <label> Sexo</label><br>
                        <input type="text" class="form-control" id="sexo" [(ngModel)]="aluno.sexo"
                        name="sexo">
                        <!--<select class="select" >
                            <option value=""></option>
                            <option value="masculino " >masculino</option>
                            <option value="feminino">feminino</option>
                        </select>-->
                       
                       
                    </div>

                    <div class="form-group">
                        <label> Telefone</label>
                        <input type="text" class="form-control" id="telefone" [(ngModel)]="aluno.telefone"
                            name="telefone">
                    </div>

                    <div class="form-group">
                        <label> Email</label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="emailt"
                            name="email">
                    </div>


                    
                    <br />
                    <button class="btn btn-success bg-primary" type="submit" [disabled]="!f.valid" (click)="Atualizar()"> Atualizar </button>

                </form>
            </div>
        </div>
 
    </div>
</body>

